index

デザインリスト


<li>
  <%= link_to "pop", list_pop_path, class: "btn" %>
  <%= link_to "natural", list_natural_path, class: "btn" %>
  <%= link_to "elegant", list_elegant_path, class: "btn" %>
  <%= link_to "word_index", words_path, class: "btn btn-primary" %>
</li>