/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.elegant-body {
  background-color: #acb0a8;
}
.header-elegant {
  background-color: #7f5072;
  width: 100%;
  height: 50px;
}
.footer-elegant {
  background-color: #7f5072;
  width: 100%;
  height: 50px;
}

.word-list {
  margin: 50px 100px 0;
  padding-bottom: 50px;
}

.natural-body {
  background-color: #e4c6a6;
}
.header-natural {
  background-color: #8e775d;
  width: 100%;
  height: 50px;
}
.footer-natural {
  background-color: #8e775d;
  width: 100%;
  height: 50px;
}

.natural-main {
  width: 70%;
  text-align: center;
}

.word-random {
  width: 20%;
  height: 10%;
  background-color: #e6cd8c;
  text-align: center;
}


.pop-body {
  background-color: #fffcd7;
}
.header-pop {
  background-color: #c0e4f2;
  width: 100%;
  height: 50px;
}
.footer-pop {
  background-color: #c0e4f2;
  width: 100%;
  height: 50px;
}

.word-japanese {
  color: black;
}

.pop-main {
  text-align: center;
}

.pop-test {
  width: 500px;
  height: 150px;
  text-align: center;
  background-color: white;
  margin: 50px auto;
  padding-top: 30px;
  font-size: 20px;
  border: 10px inset #ded3d6;
}

.word-japanese {
  font-size: 14px;
  margin-top: 20px;

}